* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  color: #22222b;
}

.lock {
  height: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.main {
  background-image: url(../img/bg.jpg);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
}
@media (max-width: 768px) {
  .main {
    padding-top: 20px;
  }
}

.wrapper {
  max-width: 1170px;
  padding: 0pc 15px;
  margin: 0 auto;
}

.header {
  max-width: 1170px;
  padding: 0pc 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header .menu-btn {
    display: block;
  }
}
.header .menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: maroon;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.header .menu-btn span:nth-child(2) {
  top: calc(50% - 5px);
}
.header .menu-btn span:nth-child(3) {
  top: calc(50% + 5px);
}
.header .menu-btn.active span:first-child {
  transform: translateX(100%);
}
.header .menu-btn.active span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header .menu-btn.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 768px) {
  .header .main-menu {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #e1e1e1;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.menu li {
  list-style-type: none;
  font-size: 24px;
  margin-bottom: 15px;
}
.menu li a {
  text-decoration: none;
  color: maroon;
}

.menu.active {
  transform: translateX(0);
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .nav {
    display: block;
  }
}
.nav__item {
  margin-left: 23px;
}
.nav__link {
  text-decoration: none;
  color: #22222b;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.nav__link:hover {
  border-bottom: 1px solid #22222b;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
  position: relative;
  padding: 20px 35px;
}
@media (max-width: 992px) {
  h1 {
    font-size: 50px;
  }
}
h1::before, h1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 22px;
}
h1::before {
  top: 0;
  left: 0;
  background-image: url(../img/rectangle1.png);
}
h1::after {
  bottom: 0;
  right: 0;
  background-image: url(../img/rectangle2.png);
  transform: rotate(180deg);
}
h1 span {
  font-weight: 500;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}

.btn-scroll {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}

.section-about {
  padding-top: 240px;
  padding-bottom: 132px;
}
@media (max-width: 992px) {
  .section-about {
    padding-top: 210px;
    padding-bottom: 100px;
  }
}
.section-about h2 {
  margin-top: 0;
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 48px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .section-about h2 {
    font-size: 40px;
  }
}

.box-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-about-item {
  flex: 0 0 46%;
  max-width: 46%;
  position: relative;
}
.box-about-item:first-child {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 50%;
  max-width: 50%;
}
.box-about__back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px;
}
.box-about__vertical {
  position: absolute;
  left: -4px;
  letter-spacing: 1.6px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  bottom: 58px;
  font-size: 16px;
}
.box-about__vertical::after {
  content: "";
  width: 1px;
  height: 45px;
  background-color: #22222b;
  display: block;
  position: absolute;
  right: 9px;
  top: 93px;
}
.box-about__text {
  color: #7f7f82;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.progress-bar {
  font-size: 16px;
  font-weight: 500;
}
.progress-bar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
.progress-bar-text:last-child {
  margin-bottom: 0;
}
.progress-bar-line {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative;
}
.progress-bar-line::before {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/circle.png);
  width: 6px;
  height: 11px;
  left: -1px;
  top: calc(50% - 5.5px);
}
.progress-bar-line::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  background-color: #f2f2f2;
}
.progress-bar--indesign::after {
  width: 35%;
}
.progress-bar--xd::after {
  width: 20%;
}

.section-services {
  background-color: #faf9fe;
  padding-top: 120px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .section-services {
    padding-top: 90px;
    padding-bottom: 70px;
  }
}
.section-services .after-title {
  font-size: 16px;
  color: #7f7f82;
}

.service {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 31px 48px;
  margin-top: 65px;
}
.service-item:hover .service__link-text {
  width: inherit;
  opacity: 1;
  padding-right: 9px;
}
.service h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 18px;
}
.service-icon {
  display: block;
  width: 44px;
  height: 37px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.service__design {
  background-image: url(../img/service-icon01.png);
  background-size: 41px 35px;
}
.service__photo {
  background-image: url(../img/service-icon02.png);
  background-size: 43px 35px;
}
.service__web {
  background-image: url(../img/service-icon03.png);
  background-size: 41px 35px;
}
.service__social {
  background-image: url(../img/service-icon04.png);
  background-size: 37px 37px;
}
.service__marketing {
  background-image: url(../img/service-icon05.png);
  background-size: 44px 37px;
}
.service__app {
  background-image: url(../img/service-icon06.png);
  background-size: 37px 37px;
}
.service__text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 1.8;
}
.service__link {
  color: #22222b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}
.service__link-text {
  width: 0;
  opacity: 0;
  padding-right: 0;
}
.service__link-line {
  display: block;
  background-color: #22222b;
  width: 25px;
  height: 1px;
}

.section-portfolio {
  padding-top: 90px;
  padding-bottom: 100px;
}

.portfolio {
  display: grid;
  grid-template: repeat(7, 88px)/1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 83px;
}
@media (max-width: 992px) {
  .portfolio {
    margin-top: 60px;
  }
}
.portfolio-01 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.portfolio-02 {
  grid-column: 2/3;
  grid-row: 1/5;
}
.portfolio-03 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.portfolio-04 {
  grid-column: 1/2;
  grid-row: 4/8;
}
.portfolio-05 {
  grid-column: 2/3;
  grid-row: 5/8;
}
.portfolio-06 {
  grid-column: 3/4;
  grid-row: 4/8;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.portfolio-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 19px 0;
  border: none;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #22222b;
  color: #22222b;
}

.section-banner {
  padding-top: 72px;
  padding-bottom: 113px;
  background-color: #22222b;
  color: #fff;
  text-align: center;
}
@media (max-width: 992px) {
  .section-banner {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
.section-banner .before-title {
  font-size: 22px;
  margin-bottom: 0;
}
.section-banner h2 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 42px;
}
@media (max-width: 992px) {
  .section-banner h2 {
    font-size: 40px;
  }
}
.section-banner .btn {
  color: #22222b;
  background-color: #fff;
  padding: 12px 57px;
  transition: 0.3s ease;
}
.section-banner .btn:hover {
  background-color: #22222b;
  border: 1px solid #fff;
  color: #fff;
}

.section-feedback {
  padding-top: 122px;
  padding-bottom: 158px;
}
@media (max-width: 992px) {
  .section-feedback {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}
.feedback-item {
  flex: 0 0 47%;
  max-width: 47%;
}
.feedback-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 56px;
}
.feedback-thumb {
  margin-right: 10px;
}
.feedback-name__title {
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: 11px;
}
.feedback-name__job {
  font-size: 12px;
  color: #7f7f82;
  margin-bottom: 0;
}
.feedback-body {
  font-size: 18px;
  color: #7f7f82;
  font-style: italic;
  padding-left: 28px;
  line-height: 1.8;
}
.feedback-body p {
  position: relative;
}
.feedback-body p::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background-image: url(../img/Quote.png);
  width: 39px;
  height: 39px;
}

.section-advantages {
  padding-top: 100px;
  padding-bottom: 82px;
  background-color: #faf9fe;
}
@media (max-width: 992px) {
  .section-advantages {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.advantages__title {
  font-size: 16px;
  text-transform: uppercase;
}
.advantages__title span {
  display: block;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 13px;
}
.advantages__icon {
  background-color: #22222b;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 27px;
  background-position: center center;
  background-repeat: no-repeat;
}
.advantages__icon-01 {
  background-image: url(../img/icon-01.png);
  background-size: 26px 23px;
}
.advantages__icon-02 {
  background-image: url(../img/icon-02.png);
  background-size: 26px 23px;
}
.advantages__icon-03 {
  background-image: url(../img/icon-03.png);
  background-size: 26px 24px;
}
.advantages__icon-04 {
  background-image: url(../img/icon-04.png);
  background-size: 19px 23px;
}

.section-form {
  padding-top: 122px;
  padding-bottom: 130px;
}
@media (max-width: 992px) {
  .section-form {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 45px auto 0;
}
.form__input, .form__textarea {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 17px 25px;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.3s;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border-bottom: 1px solid #22222b;
}
.form__textarea {
  padding: 12px 25px;
  min-height: 86px;
  margin-bottom: 35px;
}

footer {
  background-color: #22222b;
  padding-top: 64px;
  padding-bottom: 69px;
}
@media (max-width: 992px) {
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.social-network {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.social-network__item {
  margin-left: 20px;
}
.social-network__link {
  color: #fff;
  transition: 0.3 ease;
}
.social-network__link:hover {
  color: silver;
}

/*# sourceMappingURL=style.css.map */
